<%= form_for(@game, html: { class: 'form-horizontal'}) do |f| %>
  <% if @game.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</strong>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :enter_the_username_of_an_opponent, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_field :player2, class: 'form-control' %>
      <%= content_tag :p, 'Case sensitive', class: 'help-block' %>
    </div>
  </div>

  <div class="form-group">
    <div class="btn-group col-md-9 col-md-offset-3">
      <%= f.submit 'Create', class: 'btn btn-success' %>
      <%= link_to 'Cancel', games_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
