<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |type, message| %>
  <% type = 'warning' if type == 'alert'  %>
  <% type = 'success' if type == 'notice' %>
    <div class="flash_message alert alert-<%= type %>">
      <% if message.is_a? Hash %>
        <%= message.collect { |k, v| "<div class='#{k}'>#{k.humanize} #{v.join(', ')}</div>" }.join.html_safe %>
      <% else %>  
        <%= message %>
      <% end %>
      </div>
  <% end %>
  
  <% if user_signed_in? %>
    <div class="btn-group pull-right">
      <%= link_to current_user.username, '#', class: 'btn btn-default disabled' %>
      <%= link_to "Log out", destroy_user_session_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
  
  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
